.bar {
  display: flex;
  height: 50px;
  background-color: white;
}
.loupe {
  width: 20px;
  margin-left: 10px;
  padding-right: 10px;
}
.searchInput {
  display: flex;
  flex-grow: 1;
  border: none;
}
input:focus {
  outline: none;
}
